<div style="width: 100%;height: 100%">

  <div style="width: 100%;height: 50%">

    <p-dataTable [value]="insurDeductionGroups" (onRowSelect)="onRowSelectGroup($event)" selectionMode="single"  scrollable="true"   resizableColumns="true" columnResizeMode="expand"  >
        <p-header>Ομάδες κράτησης</p-header>
        <p-footer>Σύνολο: {{insurDeductionGroups.length}}</p-footer>
        <p-column [style]="{'width': '100px'}"  field="usrcode" header="Κωδικός" ></p-column>
        <p-column field="description" header="Περιγραφή" ></p-column>
    </p-dataTable>

  </div>


  <div style="width: 100%;height: 50%">
    <p-dataTable [value]="insurDeductionGroupsItems" selectionMode="single"  scrollable="true"   resizableColumns="true" columnResizeMode="expand"  >
        <p-header></p-header>
        <p-footer>Σύνολο: {{insurDeductionGroupsItems.length}}</p-footer>
        <p-column [style]="{'width': '100px'}"  field="usrcode" header="Κωδικός" [editable]="true"></p-column>
        <p-column field="description" header="Περιγραφή" [editable]="true"></p-column>
        <template let-item="rowData" pTemplate="body">
          <p-headerColumnGroup>
              <p-row>
                  <p-column  header="Ημ/νία ύπαρξηε στην φόρμα" colspan="2"></p-column>
              </p-row>
              <p-row>
                  <p-column field="item.dateValidFrom" header="Από"></p-column>
                  <p-column field="item.dateValidTo" header="Εως"></p-column>
              </p-row>
          </p-headerColumnGroup>
        </template>
    </p-dataTable>

  </div>

</div>