    <label>Εργαζόμενος: </label>{{employeeService.employee.usrcode}}
    <md-card-actions>
            <button md-button>Προηγούμενο</button>
            <button md-button>Επόμενο</button>
            <button md-button>Λίστα</button>
      </md-card-actions>

<p-tabView (onChange)="onTabClick($event)">
    <p-tabPanel header="Μητρώο" leftIcon="fa-user">
    </p-tabPanel>

    <p-tabPanel header="Υπηρ.μεταβολές" leftIcon="fa-refresh">
    </p-tabPanel>

    <p-tabPanel header="Status" leftIcon="fa-info-circle">
    </p-tabPanel>

    <p-tabPanel header="Αποδοχές" leftIcon="fa-money">
    </p-tabPanel>

    <p-tabPanel header="Προσωπικές κρατ." leftIcon="fa-scissors">
    </p-tabPanel>

    <p-tabPanel header="Ομάδα κρατ.κλπ" leftIcon="fa-folder-o">
    </p-tabPanel>

    <p-tabPanel header="Καρτέλλα" leftIcon="fa-archive">
    </p-tabPanel>

    <p-tabPanel header="Ασφαλιστικά στ." leftIcon="fa-sticky-note-o">
    </p-tabPanel>

    <p-tabPanel header="Στοιχεία Ι.Κ.Α." leftIcon="fa-address-book" >
    </p-tabPanel>

    <p-tabPanel header="Στοιχεία Τραπέζης" leftIcon="fa-address-book" >
    </p-tabPanel>

</p-tabView>

<div>
{{tabContent}}
<router-outlet></router-outlet>
</div>