section {
  border-left: 0px solid gray;
  height: max-content;
}

body {
  margin: 0%;
}

.sidenav {
  background-color: #404040;
  overflow-x: hidden;
  transition: 0.5s;
  position: fixed;
  height: 100%;
  color: #FFF;
}

.sidenav a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    background-color: #555;
    color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  margin-left: 5px;
}

.containerinside {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  min-height: 85vh;
  height: 100%;
  flex-direction: column;
  transition: margin-left .5s;
  padding-left: 10px;
}

.treediv {
  margin-bottom: 50px;
}

