
<section>


  <div [style.width]="getNavStyle()" class="sidenav" id="mySidenav">
   
       <button md-icon-button (click)="sidenavclick()" >
            <md-icon>menu</md-icon>
       </button>

      <md-divider></md-divider>

       <button md-icon-button routerLink="/home" >
            <md-icon>home</md-icon>
       </button>

       <md-divider></md-divider>

      <div class="treediv">
       
            <nav [style.display]="navDisplay" class="sidebar" [ngClass]="{sidebarPushRight: isActive}">

              <ul  class="list-group" style="padding:0">
                  <a routerLink="/dashboard/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-fw fa-dashboard"></i> Κεντρικό μενού 
                  </a>
                  <a [routerLink]="['/diaxiriseis']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class=""></i> Διαχειρίσεις
                  </a>
                  <a [routerLink]="['/epeksergasia']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i ></i> Επεξεργασία
                  </a>

                  <div class="nested-menu">
                      <a style="cursor: pointer;cursor: hand;" class="list-group-item" (click)="expandMenu(1)">
                          <span><i class="fa fa-plus"></i> Πίνακες</span>
                      </a>

                      <li [style.display]="treeArray[1].display" style="display: none;" class="nested" >
                          <ul>
                              <li>
                                  
                                  <div class="nested-menu">
                                       <a style="cursor: pointer;cursor: hand;" class="list-group-item" (click)="expandMenu(3)">
                                        <span><i class="fa fa-plus"></i> Νέα Επιδόματα</span>
                                  </a>

                                    <li [style.display]="treeArray[3].display" style="display: none;" class="nested" >
                                        <ul>
                                            <li>
                                                  <a [routerLink]="['/epidomata']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                                      <i ></i> Επιδόματα
                                                  </a>
                                            </li>
                                            <li>
                                                   <a [routerLink]="['/pinakeskritirion']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                                      <i></i> Πίνακες Κριτηρίων
                                                  </a>
                                            </li>
                                        </ul>
                                    </li>


                                    <a [routerLink]="['/unitroot']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Οργανόγραμα
                                    </a>  

                                    <a [routerLink]="['/misthologio']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Μισθολόγιa
                                    </a> 

                                     <a [routerLink]="['/specialities']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Κλάδοι
                                      </a> 

                                      <a [routerLink]="['/sectors']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Ειδικότητες
                                      </a> 

                                      <a [routerLink]="['/katekpedeusis']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Κατήγ./Υποκατ. Εκπαίδευσης
                                      </a>

                                      <a [routerLink]="['/foreis']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Φορείς
                                      </a>

                                       <a [routerLink]="['/organizationareas']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Περιοχές Φορέων
                                      </a>

                                       <a [routerLink]="['/taxoffices']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Εφορίες
                                      </a>

                                       <a [routerLink]="['/personnelcategories']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Κατηγορίες Προσωπικού
                                      </a>

                                       <a [routerLink]="['/taxscale']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> πίνακας φόρου Μισθωτών
                                      </a>

                                       <a [routerLink]="['/employmentcontracts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Συμβάσεις Εργασίας
                                      </a>

                                      <a [routerLink]="['/allowancetypes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Είδη αποδοχών
                                      </a>

                                       <div class="nested-menu">
                                        <a style="cursor: pointer;cursor: hand;" class="list-group-item" (click)="expandMenu(4)">
                                            <span><i class="fa fa-plus"></i> Επιδόματα</span>
                                        </a>

                                        <li [style.display]="treeArray[4].display" style="display: none;" class="nested" >
                                            <ul>
                                                <li>
                                                     <a [routerLink]="['/formaepidomaton']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                                      <i ></i> Φόρμες υπολογισμού επιδομάτων
                                                    </a>
                                                </li>
                                        
                                            </ul>
                                        </li>

                                    </div>

                                     <a [routerLink]="['/prosthetesamives']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Πρόσθετες αμοιβές
                                      </a>

                                       <a [routerLink]="['/deductiongroups']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Κρατήσεις
                                      </a>

                                      <a [routerLink]="['/perikopes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Περικοπές
                                      </a>

                                       <a [routerLink]="['/parametroimis']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                        <i ></i> Παράμετροι μισθοδοσίας
                                      </a>

                                 </div>

                              </li>
                              <li>
                                  <a href><span>Submenu</span></a>
                              </li>
                          </ul>
                      </li>  

                  </div>

                   <a [routerLink]="['/kiniseis']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> Κινήσεις
                   </a>

                    <a [routerLink]="['/anafores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> Αναφόρες
                   </a>

                    <a [routerLink]="['/ipiresies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> Υπηρεσίες
                   </a>

                     <a [routerLink]="['/ergalia']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> Εργαλεία
                   </a>

                   <a [routerLink]="['/help']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> Βοήθεια
                   </a>

                   <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-plus"></i> category
                   </a>
                 

                  <div class="nested-menu">
                      <a style="cursor: pointer;cursor: hand;" class="list-group-item" (click)="expandMenu(2)">
                          <span><i class="fa fa-plus"></i> &nbsp; Menu</span>
                      </a>

                      <li [style.display]="treeArray[2].display" style="display: none;" class="nested" >
                          <ul>
                              <li>
                                  <a href><span>Submenu</span></a>
                              </li>
                              <li>
                                  <a href><span>Submenu</span></a>
                              </li>
                          </ul>
                      </li>

                  </div>


                  <a [routerLink]="['blankpage']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-file-o"></i> &nbsp;BlankPage
                  </a>
                 

              </ul>

          </nav>
      </div>



  </div>
  
        <div [style.marginLeft]="getContainerMargin()" id="main" class="containerinside">

         
         <md-card-actions style="height: auto">

            <button (click)="insertClick()" *ngIf="insertButton" md-button style="background-color: lightblue">Εισαγωγή</button>
            <button *ngIf="!insertButton" md-button style="background-color: lightblue" disabled>Εισαγωγή</button>

            <button (click)="updateClick()" *ngIf="updateButton" md-button style="background-color: lightyellow">Ενημέρωση</button>
            <button *ngIf="!updateButton" md-button style="background-color: lightyellow" disabled>Ενημέρωση</button>

            <button (click)="deleteClick()" *ngIf="deleteButton" md-button style="background-color: lightcoral">Διαγραφή</button>
            <button *ngIf="!deleteButton" md-button style="background-color: lightcoral" disabled>Διαγραφή</button>
         </md-card-actions>
         

          <router-outlet></router-outlet>
        
        </div>

</section>

