
<div style="width: 100%;height: 100%; display: flex;resize: both;">

  <div style="width: 40%;">
      <!--
         datalist //master
        -->
    <p-dataTable [value]="personnelGroups" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectGroup($event)" selectionMode="single" scrollable="true"  scrollHeight="600px">
            <p-header>Ομάδες Προσωπικού</p-header>
            <p-footer>Πλήθος {{personnelGroups.length}}</p-footer>
            <p-column [style]="{'width': '100px'}"  field="usrcode"  header="Κωδικός"></p-column>
            <p-column field="description" header="Περιγραφή"></p-column>      
    </p-dataTable>

  </div>

  <div style="flex: 1; width: 75%">
      <!--
        the details 
        -->
          <p-dataTable [value]="personnelCategories" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]"  [stacked]="stacked" [responsive]="true" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectCat($event)" selectionMode="single">
                  <p-header>ΕΙΔΙΚΟΤΗΤΕΣ</p-header>
                  <p-footer>Πλήθος: {{personnelCategories.length}}</p-footer>
                  <p-column [style]="{'width': '100px'}"  field="usrcode"  header="Κωδικός"></p-column>
                  <p-column field="description" header="Περιγραφή"></p-column>      
                
          </p-dataTable>

  </div>
  
</div>