
  <div style="width: 100%;">
      <!--
         datalist //master
        -->
      
    <p-dataTable [value]="taxScales" responsive="true" [rows]="20" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectTaxScale($event)" selectionMode="single" scrollable="true"  scrollHeight="600px">
            <p-header>Πίνακας φόρου μισθωτών</p-header>
            <p-footer>Πλήθος {{taxScales.length}}</p-footer>
            <p-column [style]="{'width': '100px'}"  field="usrcode"  header="Κωδικός"></p-column>
            <p-column field="description" header="Περιγραφή"></p-column>   
            <p-column field="dateFrom" header="Από"></p-column>
            <p-column field="dateTo" header="Εως"></p-column>
            <p-column field="paidia" header="Παιδιά"></p-column>   
            <p-column field="taxlink" header="Info">
            <template let-tax="rowData" pTemplate="body">
                
                <button style="float: left"  type="button" pButton routerLink="/taxscale/{{tax.id}}/" label="Info"></button>
                <!--
                <button style="float: right"  class="ui-button-warning" *ngIf="misthologio.postsLink" type="button" pButton (click)="editMisthologio(misthologio)" label="Edit"></button>
                -->
            </template>
        </p-column>
    </p-dataTable>
    

  </div>

 
