header {
  width:100%;
  top:0;
  left:0;
  right: 0;
  background-color: #404040;
  text-align: center;
}

.side-nav-button {
  display: flex;
  height: 50%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003900;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #001a33;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    position: absolute;
    background-color: #001a33;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #001a33}

.show {display:block;}
