<header>
  
  <div class="side-nav-button" >

     <button style="color: rgba(255, 255, 255, 1);" md-icon-button>
            <md-icon>arrow_back</md-icon>
     </button>

     <button style="color: rgba(255, 255, 255, 1);" md-icon-button>
            <md-icon>arrow_forward</md-icon>
     </button>

     <label style="color: #FFF;margin-top: 10px;margin-left: 10px;">Ενέργειες</label>
      <div style="cursor: pointer;cursor: hand;" class="dropdown">
              
              <button (click)="actionClick()" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left" md-icon-button>
                          <img src="./assets/ic_settings_white_24dp_2x.png" height="30px;"/>     
                          <a> </a>              
              </button>

              <div [style.display]="actionDisplay" style="background-color: #004080;margin-top: 40px;" id="dropdownAccount" class="dropdown-content">

                <a routerLink="/emp" (click)="actionClick()"> 
                  <div >
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_account_circle_white_24dp_1x.png" height="15px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">Αποθήκευση</label>
                  </div>
                </a>
                
                <a routerLink="/settings" (click)="actionClick()"> 
                  <div >
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_help_white_24dp_1x.png" height="15px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">Εκτύπωση</label>
                  </div>
                </a>

                <a routerLink="/logout" (click)="actionClick()"> 
                  <div >
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_settings_white_24dp_1x.png" height="15px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">extra</label>
                  </div>
                </a>
              </div>
      </div>


     <div style="width: 95%"></div>

      <label style="color: #FFF;margin-top: 10px;">Notifications</label>
      <button  style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;" md-icon-button>
                    <img src="./assets/ic_notifications_none_white_24dp_2x.png" height="35px;"/>     
      </button>
     
      <label style="color: #FFF;margin-top: 10px;margin-left: 10px;">Account</label>
      <div style="cursor: pointer;cursor: hand;" class="dropdown">
              
              <button (click)="accountClick()" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left" md-icon-button>
                          <img src="./assets/ic_account_circle_white_24dp_2x.png" height="35px;"/>     
                          <a> </a>              
              </button>

              <div [style.display]="accountDisplay" style="background-color: #004080;margin-top: 40px;" id="dropdownAccount" class="dropdown-content">

                <a routerLink="/employee" (click)="accountClick()"> 
                  <div >
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_account_circle_white_24dp_1x.png" height="20px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">Account</label>
                  </div>
                </a>
                
                <a routerLink="/settings"> 
                  <div (click)="accountClick()">
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_help_white_24dp_1x.png" height="20px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">Help</label>
                  </div>
                </a>

                <a routerLink="/logout"> 
                  <div (click)="accountClick()">
                      <button value="Account" style="background-color:transparent; border-color:transparent;color:#FFF;margin-right: 5px;float: left;cursor: pointer;cursor: hand;">
                            <img src="./assets/ic_settings_white_24dp_1x.png" height="20px;"/>                                      
                      </button>
                      <label style="color: #FFF;cursor: pointer;cursor: hand;">Log Out</label>
                  </div>
                </a>
              </div>
      </div>

    <div style="width: 5%"></div>
  </div>

  

</header>
