

<h3>Φορείς</h3>


<div style="width: 100%;height: 100%; display: flex;">

  <div>
    
    <p-tree *ngIf="nodes" [value]="nodes" selectionMode="single" [(selection)]="selectedNode" 
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>


  </div>

  <div style="flex: 1; height: 100%;margin-left: 10px;">
      <!--
        the details 
        -->
        <table>

          <tr>
            <th><label>Κωδικός: </label> </th>
            <td>
                <input *ngIf="usrcode"   type="text" size="10" pInputText [(ngModel)]="usrcode"/>
            </td>
          </tr>
          <tr>
            <th> <label style="margin-top: 17px;">Περιγραφή:</label></th>
            <td>
                 <input *ngIf="description" style="margin-top: 15px;"   type="text" size="30" pInputText [(ngModel)]="description"/>
            </td>
          </tr>
          <tr>
            <th><label>  <label  style="margin-top: 17px;">Ζώνη:</label>   </label> </th>
            <td>
                <p-dropdown autoWidth="true" [options]="zones" [(ngModel)]="zone.description" ></p-dropdown>
            </td>
          </tr>
           <tr>
            <th><label>  <label  style="margin-top: 17px;">Περιοχή:</label>     </label> </th>
            <td>
                 <p-dropdown   [options]="areas" [(ngModel)]="area.description"></p-dropdown>
            </td>
          </tr>
        </table>

        <label>Τοπική εορτή:</label> <br>
        <label>Στέγη: </label><input *ngIf="selectedNode.stegi == 1" type="checkbox" name="" value="" checked>
                              <input *ngIf="selectedNode.stegi == 0" type="checkbox" name="" value="">
                              <input *ngIf="selectedNode.stegi > 1" type="checkbox" name="" value="">


        <label>Αγονη: </label><input *ngIf="selectedNode.agoni == 1"  type="checkbox" name="" value="" checked>
                              <input *ngIf="selectedNode.agoni == 0"  type="checkbox" name="" value="">
                              <input *ngIf="selectedNode.agoni > 1" type="checkbox" name="" value="">

        <div style="margin-top: 20px;"></div>
        <p-fieldset  legend="Μονάδα Υλοποίησης">
            
            <table>
              <tr>
                <th><input type="text" size="10" pInputText /></th>
                <td><input type="text" size="10" pInputText /></td>
                <button class="ui-button-warning" type="button" pButton  label="Λίστα"></button>
              </tr>
            </table>

        </p-fieldset>                  



  </div>
  
</div>



<!--
<div style="margin-top:8px">{{selectedFile ? selectedFile.label : 'none'}}</div>
-->