

<div style="width: 100%;height: 100%; display: flex;">

  <div>
      <!--
        the tree nodes //master
        -->
     <p-tree *ngIf="selectedNode"  [style]="{'height':'750px','width':'auto', 'overflow':'hidden'}" [value]="nodes" selectionMode="single" [(selection)]="selectedNode" 
      (onNodeSelect)="nodeSelect($event)"  (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>

  </div>

  <div style="flex: 1; height: 100%">
      <!--
        the details 
        -->
        <router-outlet></router-outlet>

  </div>
  
</div>