

<div style="width: 100%;height: 100%; display: flex;">

  <div style="width: 40%;">
      <!--
         datalist //master
        -->
    <p-dataTable [value]="sectors" *ngIf="sectors" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectSector($event)" selectionMode="single" scrollable="true"  scrollHeight="600px">
            <p-header>ΚΛΑΔΟΙ</p-header>
            <p-footer>Count: {{sectors.length}}</p-footer>
            <p-column [style]="{'width': '100px'}"  field="usrcode"  header="Κωδικός"></p-column>
            <p-column field="description" header="Περιγραφή"></p-column>      
    </p-dataTable>

  </div>

  <div style="flex: 1; width: 75%">
      <!--
        the details 
        -->
        <button pButton type="button" (click)="toggle()" style="margin-bottom:10px" label="Toggle" icon="fa-list"></button>
    <p-dataTable [value]="specialities" *ngIf="specialities" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [stacked]="stacked" [responsive]="true" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectSpeciality($event)" selectionMode="single">
            <p-header>ΕΙΔΙΚΟΤΗΤΕΣ</p-header>
            <p-footer>Count: {{specialities.length}}</p-footer>
            <p-column [style]="{'width': '100px'}"  field="usrcode"  header="Κωδικός"></p-column>
            <p-column field="description" header="Περιγραφή"></p-column>      
            <p-column field="codIka" header="Κωδικός ΙΚΑ">
            </p-column>

    </p-dataTable>

  </div>
  
</div>