<div style="width: 95%">

    <p-dataTable [value]="misthologia" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" >
        <p-header>Μισθολόγια</p-header>
        <p-footer>Σύνολο: {{size}}</p-footer>
         <p-column [style]="{'width': '100px'}"  field="usrcode" header="User Code"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="postsLink" header="Actions">
            <template let-misthologio="rowData" pTemplate="body">
                <button style="float: left"  *ngIf="misthologio.postsLink" type="button" pButton routerLink="/misthologio/{{misthologio.id}}/posts" label="Βαθμίδες/Θεσείς"></button>
               
                <button style="float: right"  class="ui-button-warning" *ngIf="misthologio.postsLink" type="button" pButton (click)="editMisthologio(misthologio)" label="Επεξεργασία"></button>
            </template>
        </p-column>
    </p-dataTable>

</div>

<div>
    <p-dialog *ngIf="selectedMisthologio" header="Edit Misthologio" [(visible)]="displayModal" resizable="true" width="auto" responsice="true">

    <label for="usercode">User Code: </label> 
    <input id="usercode"  type="text" size="10" pInputText [(ngModel)]="selectedMisthologio.usrcode"/>

    <label style="margin-top: 17px;" for="desc">Description:</label>
    <input style="margin-top: 15px;" id="desc"  type="text" size="30" pInputText [(ngModel)]="selectedMisthologio.description"/>
  

    <p-footer>
      <div style="float: left" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="displayModal=false" label="Cancel"></button>
          <button class="ui-button-success" type="button" pButton icon="fa-close" (click)="updatePost()" label="Update"></button>
      </div>

      <div style="float: right" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button class="ui-button-danger" type="button" pButton icon="fa-close" (click)="deleteMisthologio()" label="Delete"></button>
      </div>
    </p-footer>
    
  </p-dialog>


   <p-dialog  header="New Misthologio" [(visible)]="displayModalNewMisthologio" resizable="true" width="auto" responsice="true">

    <label for="usercode">User Code: </label> 
    <input #usercodeinput id="usercode"  type="text" size="10" pInputText />

    <label style="margin-top: 17px;" for="desc">Description:</label>
    <input #descriptioninput style="margin-top: 15px;" id="desc"  type="text" size="30" pInputText/>
  

    <p-footer>
      <div style="float: right" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="displayModalNewMisthologio=false" label="Cancel"></button>
          <button (click)="createMisthologio(usercodeinput.value,descriptioninput.value)" class="ui-button-success" type="button" pButton icon="fa-close"  label="Create"></button>
      </div>
    </p-footer>
    
  </p-dialog>
  
</div>