<div class="container" >

  <md-toolbar color="primary" class="header">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    ΜΙΣΘΟΔΟΣΙΑ
    <span class="app-toolbar-filler"></span>


    <button md-icon-button>
      <i class="material-icons">apps</i>
    </button>

    <button md-icon-button>

        <md-icon>notifications</md-icon>
      <!--md-chip-list>
        <md-chip color="primary" selected="true">25</md-chip>
      </md-chip-list-->
    </button>

    <button md-icon-button
            [mdMenuTriggerFor]="usermenu"
            mdTooltip="Π. ΠΟΥΛΙΔΗΣ"
            [mdTooltipPosition]="'left'">
      <md-icon>person</md-icon>
    </button>
  </md-toolbar>


  <md-sidenav-layout>
    <md-sidenav #sidenav mode="side" opened="true">
      MENU
    </md-sidenav>

    <div class="content">
      <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
      </md-card>
    </div>
  </md-sidenav-layout>

  <md-menu #usermenu="mdMenu">
    <div md-menu-item>
      <md-icon style="color: red"> cancel</md-icon>
      <span> Αποσύνδεση </span>
    </div>
  </md-menu>

  <!--md-toolbar color="warn" class="footer"></md-toolbar>

<!--md-icon *ngIf="!sidenav.opened">keyboard_arrow_right</md-icon>
<md-icon *ngIf="sidenav.opened">keyboard_arrow_left</md-icon-->
</div>