.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.header {
  background-color: blue;
}

md-sidenav-layout {
  flex: 1 1 auto;
}

md-sidenav{
  background-color: green;
  width: 200px;
}

.content {
  background-color: darkorange;
}

.content md-card {
  margin: 18px;
}

.footer {
}
