
<div style="width: 95%;margin-top: 25px;">

  <p-dataTable *ngIf="misthologio" [value]="posts" selectionMode="single" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]">
        <p-header>Posts , Misthologio:Desc: {{misthologio.description}},UsrCode: {{misthologio.usrcode}}</p-header>
        <p-footer>Count: {{size}}</p-footer>
        <p-column [style]="{'width': '100px'}"  field="usrcode" header="UserCode"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="seira" header="Seira"></p-column>
        <p-column field="vfStatus" header="Vf Status"></p-column>
        <p-column header="Edit">
            <template let-post="rowData" pTemplate="body">          
                 <button class="ui-button-success" *ngIf="post" (click)="editPost(post)" type="button" pButton  label="Επεξεργασία"></button>
            </template>
        </p-column>
    </p-dataTable>

</div>

<div>
    <p-dialog closable="true" *ngIf="selectedPost" header="Edit Post" [(visible)]="displayModal" width="75%" responsice="true">

    <label for="usercode">USer Code: </label> 
    <input id="usercode"  type="text" size="10" pInputText [(ngModel)]="selectedPost.usrcode"/>

    <label style="margin-top: 17px;" for="desc">Description:</label>
    <input style="margin-top: 15px;" id="desc"  type="text" size="30" pInputText [(ngModel)]="selectedPost.description"/>
  
    <label style="margin-top: 17px;" for="seira">Seira:</label>
    <input style="margin-top: 15px;" id="seira"  type="text" size="30" pInputText [(ngModel)]="selectedPost.seira"/>

    <label style="margin-top: 17px;" for="vfstatus">Vf Status:</label>
    <input style="margin-top: 15px;" id="vfstatus"  type="text" size="30" pInputText [(ngModel)]="selectedPost.vfstatus"/>

    <p-footer>
      <div style="float: left;" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="displayModal=false" label="Cancel"></button>
          <button class="ui-button-success" type="button" pButton icon="fa-close" (click)="updatePost()" label="Update"></button>
      </div>

      <div style="float: right" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button class="ui-button-danger" type="button" pButton icon="fa-close" (click)="deletePost()" label="Delete"></button>
      </div>
    </p-footer>
    
  </p-dialog>


   <p-dialog closable="true"  header="New Post" [(visible)]="displayModalNewPost" width="75%" responsice="true">

    <label for="usercode">USer Code: </label> 
    <input id="usercode"  type="text" size="10" />

    <label style="margin-top: 17px;" for="desc">Description:</label>
    <input style="margin-top: 15px;" id="desc"  type="text" size="30" />
  
    <label style="margin-top: 17px;" for="seira">Seira:</label>
    <input style="margin-top: 15px;" id="seira"  type="text" size="30" />

    <label style="margin-top: 17px;" for="vfstatus">Vf Status:</label>
    <input style="margin-top: 15px;" id="vfstatus"  type="text" size="30" />

    <p-footer>
      <div style="float: right;" class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" (click)="displayModalNewPost=false" label="Cancel"></button>
          <button class="ui-button-success" type="button" pButton icon="fa-close"  label="Create"></button>
      </div>

    </p-footer>
    
  </p-dialog>
  
</div>