

<div>

  <p-dataTable [value]="employesContracts"  [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [rows]="5" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]"  scrollable="true"   resizableColumns="true" columnResizeMode="expand"  >
      <p-header>Σχέσεις Εργασίας</p-header>
      <p-footer>Σύνολο: {{employesContracts.length}}</p-footer>
      <p-column [style]="{'width': '100px'}" field="usrcode" header="Κωδικός" [editable]="true"></p-column>
      <p-column field="description" header="Περιγραφή" [editable]="true"></p-column>
  </p-dataTable>

</div>