


<p-dataTable [value]="taxOffices" [rows]="35" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"   [editable]="true">
    <p-header>Εφορίες</p-header>
    <p-footer><div style="text-align: left">Σύνολο {{taxOffices.length}}</div></p-footer>
    <p-column [style]="{'width': '100px'}"  field="usrcode" header="Κωδικός" [sortable]="true" [filter]="true" filterPlaceholder="Search"  [editable]="true"></p-column>
    <p-column field="description" header="Περιγραφή" [sortable]="true"  [editable]="true"></p-column>
    <p-column field="odos" header="Οδός"  [editable]="true"></p-column>
    <p-column field="xnumber" header="Τηλέφωνο"  [editable]="true"></p-column>
    <p-column field="zipCode" header="ΤΚ"  [editable]="true"></p-column>
    <p-column field="fax" header="Fax"  [editable]="true"></p-column>
    <p-column field="ypeuthunos" header="Υπεύθυνος"  [editable]="true"></p-column>
</p-dataTable>
