

<p-dataTable [value]="units" selectionMode="single" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" >
        <p-header></p-header>
        <p-footer>Count: </p-footer>
        <p-column [style]="{'width': '100px'}"  field="usrcode" header="User Code"></p-column>
        <p-column field="description" header="Description"></p-column>
        <p-column field="unitType" header="Τύπος"></p-column>
        <p-column field="usedbymis" header="Χρήση">

            <template let-unit="rowData" pTemplate="body">
              <input *ngIf="unit.usedbymis == 1" type="checkbox" name="" value="" checked>
              <input *ngIf="unit.usedbymis == 0" type="checkbox" name="" value="">
            </template>

        </p-column>
        
    </p-dataTable>