

    <div class="container">

      <app-my-header>loading... my-header</app-my-header>
      <app-main-content #mainContent>loading.. content</app-main-content>
      <app-footer>loading.. footer</app-footer>

    </div>






