 
    <b>Welcome</b> <br><br>
    Προσωπικό - Μισθοδοσία
    info@or-co.gr <br>
    www.or-co.gr <br>


<div style="width: 50%;height: 50%">


    
     <p-chart type="bar" [data]="data2"></p-chart>
    <p-chart #chart type="pie" [data]="data"></p-chart>

</div>

