
  <div style="width: 100%;">
      <!--
         datalist //master
        -->
      
    <p-dataTable [value]="taxScaleValues" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" responsive="true" resizableColumns="true" columnResizeMode="expand" (onRowSelect)="onRowSelectTaxScale($event)" selectionMode="single" scrollable="true"  scrollHeight="600px">
            <p-header>Κλίμακα</p-header>
            <p-footer>Πλήθος {{taxScaleValues.length}}</p-footer>
            <p-column field="apod"  header="Εισόδημα"></p-column>
            <p-column field="foros" header="Φόρος"></p-column>   
            <p-column field="pos" header="Ποσοστό"></p-column>
            <template let-tax="rowData" pTemplate="body">             
                <!--
                <button style="float: right"  class="ui-button-warning" *ngIf="misthologio.postsLink" type="button" pButton (click)="editMisthologio(misthologio)" label="Edit"></button>
                -->
            </template>
    </p-dataTable>
    

  </div>