
<div style="width: 75%;height: 75%">

  <p-dataTable [value]="areas" *ngIf="areas" scrollable="true"   resizableColumns="true" columnResizeMode="expand"   [editable]="true">
      <p-header>Περιοχές</p-header>
      <p-footer>Count: {{areas.length}}</p-footer>
      <p-column [style]="{'width': '100px'}"  field="usrcode" header="Κωδικός" [editable]="true"></p-column>
      <p-column field="description" header="Περιγραφή" [editable]="true"></p-column>
  </p-dataTable>

</div>