

<div style="width: 45%;height: 45%">

  <p-dataTable [value]="sectors" *ngIf="sectors" scrollable="true"   resizableColumns="true" columnResizeMode="expand"  [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [editable]="true">
      <p-header>ΚΛΑΔΟΙ</p-header>
      <p-footer>Count: {{sectors.length}}</p-footer>
      <p-column [style]="{'width': '100px'}"  field="usrcode" header="Κωδικός" [editable]="true"></p-column>
      <p-column field="description" header="Περιγραφή" [editable]="true"></p-column>
  </p-dataTable>

</div>
