

<div style="width: 95%;height: 90%">

  <div id="left">

      <md-card style="background-color: lightblue">

          <md-card-subtitle><b>Προσωπικά στοιχεία</b></md-card-subtitle>
          <!--
          <md-card-title-group>
              <md-card-title>Card with title</md-card-title>
              <md-card-subtitle>Subtitle</md-card-subtitle>
          </md-card-title-group>
          -->   

          <md-card-content>
               <md-input-container>
                  <label>Επώνυμο</label><input mdInput placeholder="" value="{{employeeService.employee.firstname}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Ονομα</label><input mdInput placeholder="" value="{{employeeService.employee.firstname}}"> 
               </md-input-container>         
               <md-input-container>
                  <label>Φύλο</label><input mdInput placeholder="" value="{{employeeService.employee.sex}}"> 
               </md-input-container>                                        
          </md-card-content>

          <md-card-subtitle><b>Στοιχεία πατέρα</b></md-card-subtitle>
          <md-card-content>
               <md-input-container>
                  <label>Επώνυμο</label><input mdInput placeholder="" value="{{employeeService.employee.flastname}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Ονομα</label><input mdInput placeholder="" value="{{employeeService.employee.fathername}}"> 
               </md-input-container>                                                            
          </md-card-content>

          <md-card-subtitle><b>Στοιχεία μητέρας</b></md-card-subtitle>
          <md-card-content>
               <md-input-container>
                  <label>Επώνυμο</label><input mdInput placeholder="" value="{{employeeService.employee.mlastname}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Ονομα</label><input mdInput placeholder="" value="{{employeeService.employee.mothername}}"> 
               </md-input-container>                                                            
          </md-card-content>

           <md-card-subtitle><b>Οικογεν. κατάσταση</b></md-card-subtitle>
          <md-card-content>
               <md-input-container>
                  <label>Οικογν.κατ:</label><input mdInput placeholder="" value=""> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Επώνυμο</label><input mdInput placeholder="" value="{{employeeService.employee.husbandLastname}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Ονομα</label><input mdInput placeholder="" value="{{employeeService.employee.husbandFirstname}}"> 
               </md-input-container>                                                              
          </md-card-content>

           <md-card-subtitle><b>Στοιχεία γέννησης</b></md-card-subtitle>
           <md-card-content>
               <md-input-container>
                  <label>Ημερομηνία:</label><input mdInput placeholder="" value="{{employeeService.employee.birthday}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Πόλη/Περιοχή</label><input mdInput placeholder="" value=""> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Νομός</label><input mdInput placeholder="" value=""> 
               </md-input-container>
               <md-input-container>
                  <label>Χώρα</label><input mdInput placeholder="" value=""> 
               </md-input-container>                                                                  
          </md-card-content>


      </md-card>
  </div>
  <div id="middle">
       <md-card style="background-color: lightblue">

      <md-card-subtitle><b>Στοιχεία διαμονής</b></md-card-subtitle>

      <!--
      <md-card-title-group>
          <md-card-title>Card with title</md-card-title>
          <md-card-subtitle>Subtitle</md-card-subtitle>
      </md-card-title-group>   
      -->

        <md-card-content>
               <md-input-container>
                  <label>Οδος</label><input mdInput placeholder="" value="{{employeeService.employee.address}}"> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Αριθμ.</label><input mdInput placeholder="" value="{{employeeService.employee.addressNum}}"> 
               </md-input-container>         
               <md-input-container>
                  <label>Πόλη</label><input mdInput placeholder="" value=""> 
               </md-input-container>   
                <md-input-container>
                  <label>Νομός</label><input mdInput placeholder="" value=""> 
               </md-input-container>                                       
      </md-card-content>

      <md-card-subtitle><b>Στοιχεία επικοινωνίας</b></md-card-subtitle>
           
         <md-card-content>
               <md-input-container>
                  <label>Τήλ. οικίας</label><input mdInput placeholder="" value=""> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Τήλ. εργασίας</label><input mdInput placeholder="" value=""> 
               </md-input-container>         
               <md-input-container>
                  <label>Κινητό</label><input mdInput placeholder="" value=""> 
               </md-input-container>                                             
      </md-card-content>
      
      <md-card-subtitle><b>Ηλεκτρονική αλληλογραφία</b></md-card-subtitle>
       <md-card-content>
               <md-input-container>
                  <label>e-mail εργασίας</label><input mdInput placeholder="" value=""> <br>
               </md-input-container>  
               <md-input-container>
                  <label>e-mail ιδιωτικό</label><input mdInput placeholder="" value=""> 
               </md-input-container>                                                          
      </md-card-content>
      
      <md-card-subtitle><b>Στοιχεία ταυτότητας</b></md-card-subtitle>
       <md-card-content>
               <md-input-container>
                  <label>Α.Δ.Τ.</label><input mdInput placeholder="" value=""> <br>
               </md-input-container>  
               <md-input-container>
                  <label>Ημερ. έκδοσης</label><input mdInput placeholder="" value=""> 
               </md-input-container>     
               <md-input-container>
                  <label>Εκδόθηκε απο</label><input mdInput placeholder="" value=""> 
               </md-input-container>    
               <md-input-container>
                  <label>Διαβατήριο</label><input mdInput placeholder="" value=""> 
               </md-input-container>    
               <md-input-container>
                  <label>Υπηκοότητα</label><input mdInput placeholder="" value=""> 
               </md-input-container>                                                         
      </md-card-content>


      </md-card>
  </div>


  <div id="right">
       <md-card style="background-color: lightgreen">

      <md-card-subtitle><b>Φορολογικά στοιχεία</b></md-card-subtitle>

      <md-card-content>
                <md-input-container>
                    <label>Α.Φ.Μ</label><input mdInput placeholder="" value="{{employeeService.employee.afm}}"> <br>
                </md-input-container>  
                <md-input-container>
                    <label>Δ.Ο.Υ.</label><input mdInput placeholder="" value=""> 
                </md-input-container>         
                                                   
        </md-card-content>


        <md-card-subtitle><b>Στοιχεία μισθοδοσίας</b></md-card-subtitle>
        <md-card-content>
                <md-input-container>
                    <label>Α.Μ. Μισθοδοσίας</label><input mdInput placeholder="" value=""> <br>
                </md-input-container>  
                <md-input-container>
                    <label>Είδος σύμβασης</label><input mdInput placeholder="" value=""> 
                </md-input-container>         
                 <md-input-container>
                    <label>Ημέρες απασχόλησης</label><input mdInput placeholder="" value=""> 
                </md-input-container>    
                 <md-input-container>
                    <label>Ημέρες ασφάλισης</label><input mdInput placeholder="" value=""> 
                </md-input-container>     
                 <md-input-container>
                    <label>Ημέρες ασφάλισης</label><input mdInput placeholder="" value="">                         
                </md-input-container>                                      
        </md-card-content>

        <md-card-subtitle><b>Πληρωμές</b></md-card-subtitle>
        <label>Από το ΔΙΑΣ τις</label>

      </md-card>
     
  </div>

     
   

</div>

 <md-card-actions style="margin-left: 15px;">
            <button md-button style="background-color: lightblue">Τέκνα</button>
            <button md-button style="background-color: lightgreen">Ταμεία</button>
      </md-card-actions>